/* .aside{
    float:right;
    width:20%;
    height:800px;
    background-color: rgb(207, 207, 207);
} */
.folderAdding{
    padding: 10px;
}
.folderAdding i {
    margin-right: 30px;
    background-color: rgb(162, 162, 162);
    padding: 5px;
    border-radius: 5px;
    transition: all ease-in-out 0.1s;
}
.folderAdding i:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.folderAddingText{
    font-weight: bolder;
}
.folder{
    font-weight: bold;
    padding:10px;
    transition: all ease-in-out 0.1s;
}
.folder:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}