.header {
    color : white;
    font-size: 22px;
    padding : 20px 5px;
    border-bottom: solid 1px white;
}
.menu{
    padding: 20px 30px;
}
.menu ul li {
    list-style: none;
    margin: 10px 10px;
}

.menu ul li a{
    color : rgb(51, 51, 51);
    text-decoration: none;
    transition: all ease-in-out 0.1s;
}

.menu ul li a:hover{
    color: white;
}
.footer{
    border-top: solid white 1px;
    margin-top:200px;
    padding: 2px;
    color : white;
}

.CopyRight
{
    margin-top:300px;
    direction: ltr;
    float: left;
    line-break:loose;
}
.icon{
    margin-left : 5px;
    display: block;
}
.other{
    transition: all ease-in-out 0.1s;
    display: none;
}
.other:hover
{
    cursor: pointer;
    color: white;
}

@media(max-width:600px){
    .header ,.CopyRight , footer ,.hideli{display: none;}
    ul li{
        display: inline;
        padding:0 3.2%;
        /* padding-bottom: 15px; */
        /* direction: ltr; */
    }
    #hide{
        width: 100px;
        height:100px;
        background-color: rgb(12, 148, 155);
        position: absolute;
        bottom: 30px;
        left : 40px;
        display: none;
    }
    .other-text{
        font-size: 12px;
    }
    .other{
        display: inline;

    }
    .icon{
        position: relative;
        top:0;
    }
    .linktext{
        position:relative;
        bottom: 0;
        right: 0;
        font-size:8px;
    }
}