.menu{
    padding: 20px 30px;
}
.menu ul li {
    list-style: none;
    margin: 10px 10px;
}
.srmLogoAside{
    margin : 20% 5% 11% 15%;
    width: 80%;
    height : 80px;

}
.dashboord{
    color :rgb(160,167,170);
    font-weight:900;
    font-size: 24px;
    margin: 18% 16% 3% 0;
}

.menu ul li a{
    color :rgb(235,237,237);
    text-decoration: none;
    transition: all ease-in-out 0.1s;
}

.menu ul li a:hover{
    color: /*rgb(160,167,170)*/rgb(160,167,170);
}
.footer{
    position: absolute;
    top : 78%;
    padding: 2px;
    color : rgb(235,237,237);
    font-size: 12px;
    left: 3%;
}

.CopyRight
{
    margin-top:300px;
    direction: ltr;
    float: left;
    line-break:loose;
}
.icon{
    margin-left : 5px;
    display: block;
}
.other{
    transition: all ease-in-out 0.1s;
    display: none;
}
.other:hover
{
    cursor: pointer;
    color: white;
}
.UserSideAsideSelectedOption {
    color : rgb(160,167,170);
}
@media(max-width:600px){
    .header ,.CopyRight , footer ,.hideli{display: none;}
    ul li{
        display: inline;
        padding:0 3.2%;
        /* padding-bottom: 15px; */
        /* direction: ltr; */
    }
    #hide{
        width: 100px;
        height:100px;
        background-color: rgb(12, 148, 155);
        position: absolute;
        bottom: 30px;
        left : 40px;
        display: none;
    }
    .other-text{
        font-size: 12px;
    }
    .other{
        display: inline;

    }
    .icon{
        position: relative;
        top:0;
    }
    .linktext{
        position:relative;
        bottom: 0;
        right: 0;
        font-size:8px;
    }
}