.LocationTitle{
    width: 100%;
    height : auto;
    background-color: rgb(51, 138, 189);
    color : white;
    text-align: center;
    padding: 12px 0;
    border-top : solid 1px rgb(207, 205, 205);
}

.mapSection{
    width: 95%;
    height: 300px;
    background-color: black;
    margin: 0 2.5%;
    margin-top:60px;
}

@media (max-width:600px){
    .mapSection{
        width: 95%;
        background-color: black;
        margin: 0 2.5%;
        height: 200px;
    }
}