.footer{
    margin-top:100px;
}

.navbar{
    float: left;
    background-color: rgb(0, 153, 176);
    /* position: fixed; */
    width: 81.5%;
    /* z-index: 0; */
}
.userDetails
{
    padding: 0.4% 10px;
    display: inline;
    float: right;
}
.userDetails img{
    width: 40px;
    height:40px;
    display: inline;
    float: right;
}
.NameAndNumber{
    float: right;
    text-align: center;
    margin:5px 10px;
    color : white;
    /* padding: 1% 0; */
}
.CompanySelector
{
    padding: 5%;
    border : 2px solid white;
    font-size:16px;
    width:60%;
    margin-top:10px;
    transition: all ease-in-out 0.1s;
}
.CompanySelector:hover{
    background-color: white;
    color : black;
}
.companyList{
    color:black;
    display: none;
    position: absolute;
    top:50px;
    right: 180px;
    width: 150px;
    height:auto;
    background-color: rgb(0, 187, 255);
    font-size:16px;
    padding : 2%;
    border-radius: 5px;
    border:1px solid black;
}
.companyList ul li {
    list-style: none;
    border-bottom: 1px solid white;
    border-radius : 5px;
}
.companyList ul li:hover{
    color:white;
    cursor: pointer;
}

.DetailsSection{
    float:left;
    width: 82%;
}
.nameAndPhoneCenter{
    padding : 3px 0;
}
.requestSecondaryOptions{
    padding : 2% 0;
    padding-right:14% ;
    transition: all ease-in-out 0.1s;
    width: 90%;
    display: none;
}
.requestSecondaryOptions:hover{
    background-color: rgb(0, 137, 137);
}.requestsListAdmin{
    margin: 0 5%;
}
.requestsListAdmin a{
    text-decoration: none;
    color : black;
    transition: all ease-in-out 0.1s;
}
.requestsListAdmin a:hover{
    color: white;
}
@media (max-width: 1000px) {
    
}